# Rename Columns DF

In [45]:
df.rename(columns={str(a): str(a+1) for a in range(df.shape[1])})

                     1        2     3
0  20-11-2017 12:34:32  1231242     0
1  20-11-2017 12:50:32        1     9
2  20-11-2017 12:56:32        2  4234

In [1]:
import pandas as pd

In [39]:
df = pd.DataFrame({'0':['20-11-2017 12:34:32', '20-11-2017 12:50:32', '20-11-2017 12:56:32'], '1':[1231242,1,2], '2':[0,9,4234]})
df

                     0        1     2
0  20-11-2017 12:34:32  1231242     0
1  20-11-2017 12:50:32        1     9
2  20-11-2017 12:56:32        2  4234

In [ ]:
df.rename(columns={})

In [41]:
d = dict.fromkeys([x fod x in range(5)], [x+1 for x in range(5)])

SyntaxError: invalid syntax (<ipython-input-41-c34d93b84d4f>, line 1)

In [35]:
{a: a ** 2 for a in range(7)}

0    [20-11-2017, 12:34:32]
1    [20-11-2017, 12:50:32]
2    [20-11-2017, 12:56:32]
Name: a, dtype: object

In [36]:
df['date'] = [x[0] for x in df['a'].apply(lambda x: x.split(' '))]
df['time'] = [x[1] for x in df['a'].apply(lambda x: x.split(' '))]

In [37]:
del df['a']

In [32]:
df = df[['date', 'time', 'b', 'c']]

In [33]:
df

         date      time        b     c
0  20-11-2017  12:34:32  1231242     0
1  20-11-2017  12:50:32        1     9
2  20-11-2017  12:56:32        2  4234

In [10]:
'1 2 3'.split(' ')

['1', '2', '3']

In [ ]:
split